<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH7rTIlGAwan-nem8lNDWPJ8h1oPE4KoY</string>
	<key>GCM_SENDER_ID</key>
	<string>537029510876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>theog-401ad</string>
	<key>STORAGE_BUCKET</key>
	<string>theog-401ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537029510876:ios:493f295bcfee8cd9699619</string>
</dict>
</plist>